createListContainer {
  padding-bottom: 20px;
}

#createListIcon {
  padding-right: 20px;
}

#createListTitle {
  background-color: #dd6600;
  color: white;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  font-family: 'Kaushan Script', cursive;
}

#selectRecipesForm {
  background-color: #fff1e6;
  padding: 20px;
  border-right: 3px solid #dd6600;
  border-left: 3px solid #dd6600;
  border-bottom: 3px solid #dd6600;
  margin-bottom: 25px;
}

.checkbox {
  padding-left: 20px;
}
