<div class="jumbotron">
  <div clasas="container">
  <h1>{{main.title}}</h1>
  <p class="lead">
    <img src="images/gulabjamun.jpg" alt="beautiful food"><br>
    Making grocery lists easy-peasy.
  </p>
  <p><a class="btn btn-lg btn-default" ng-href="#/"><span class="glyphicon glyphicon-th-list"></span> Generate Your List!</a></p>
</div>
</div>
<div class="row text-center" id="info-row">
  <div class="col-md-4">
    <h3 class="info"><span class="glyphicon glyphicon-pencil"></span></h3>
    <h4 class="info">Add Your Recipes</h4>
    <p>
      Add what wonderful foods you cook, bake, or prepare.
    </p>
  </div>
  <div class="col-md-4">
    <h3 class="info"><span class="glyphicon glyphicon-check"></span></h3>
    <h4 class="info">Select What You're Making</h4>
    <p>
      Check off the recipes you plan on making in the near future.
    </p>
  </div>
  <div class="col-md-4">
    <h3 class="info"><span class="glyphicon glyphicon-list-alt"></span></h3>
    <h4 class="info">Generate Your Grocery List</h4>
    <p>Get your customized grocery list emailed to you!</p>
  </div>
</div>
